 body {
      background-color: black;
      color: lime;
      font-family: monospace;
      font-size: 1.2em;
      padding: 20px;
    }

    .log-line {
      display: none;
      margin-bottom: 10px;
    }

    .blinky {
      visibility: hidden;
      display: inline;
    }
 