/* question 1 */
.navbar{
    padding: 10px;
    gap: 20px;
    display: flex;
    justify-content: center;
}


/* question 2 */
/* yes it will show tbody */


/* question 3 */
/* changes into green */


/* question 4 */
/* changes into cyan */


/* question 5 */
/* none of these */